# fly.toml app configuration file generated for quiet-bird-3223 on 2023-07-24T11:45:41-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "quiet-bird-3223"
primary_region = "dfw"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[services.tcp_checks]]
  grace_period = "1s"
  interval = "15s"
  restart_limit = 0
  timeout = "2s"

[[services.http_checks]]
  interval = 10000
  grace_period = "5s"
  method = "get"
  path = "/health"
  protocol = "http"
  restart_limit = 0
  timeout = 2000
  tls_skip_verify = false
  [services.http_checks.headers]

[deploy]
  release_command = "npm run build"

[processes]
  app = "node app.js"

[build]
  [build.args]
    NODE_VERSION = "16.17.1"